body {
  width: 35rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

#match-count {
  margin: 4px;
}

#summary-scrollbox {
  max-height: 22rem;
  max-width: 35rem;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 4px;
}

#summary-table {
  width: 30rem;
}

#summary {
  margin-top: 12px
}

#summary-table .highlight {
  font-weight: bold;
}

.summary-icon {
  margin: 4px;
  vertical-align: middle;
}

.summary-row {
  white-space: nowrap;
  vertical-align: middle;
  display: table-row;
}

.summary-close:hover {
  background-color: hsla(0,0%,70%,.2);
}

/* space for icon + close-icon */
.summary-close-icon-switcher {
  float: left;
/*  margin: 4px; */
  display: block;
  position: relative;
}

/* position close icon on top of the summary-icon */
.summary-close-icon-switcher .summary-close {
  position: absolute;
  top: 0;
  right: 0;
}

.summary-row:hover .summary-icon {
  opacity: 40%;
}

.summary-row:hover .summary-close {
  visibility: visible;
}

.summary-close {
  vertical-align: middle;
  visibility: hidden;
  width: 16px;
  height: 16px;
  margin: 4px;
}

/* from chrome:/skins/global/close-icon.css */
/* otherwise the close.svg looks black */
.summary-close {
  -moz-context-properties: fill, fill-opacity;
  color: inherit !important;
  fill: currentColor;
  fill-opacity: 0;
}

.summary-cell {
  overflow-x: hidden;
  text-overflow: clip ellipsis;
  display: table-cell;
  vertical-align: middle;
}

.summary-row-elipsis {
  text-align: center;
}

.summary-row-not-found {
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}

#close-button {
  margin-top: 4px;
}

/* smoosh the checkboxes together */
.panel-formElements-item-grouped {
  margin-bottom: 0px;
}

#pinned-policy-warning.highlight {
  color: red;
}
