#match-count {
  margin: 4px;
}

#summary-table {
  max-width: 200px;
  margin: 4px;
}

#summary-table .highlight {
  font-weight: bold;
}

.summary-icon {
  margin: 4px;
  vertical-align: middle;
  display: inline-block;
}

.summary-row {
  text-overflow: clip ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.summary-row-elipsis {
  text-align: center;
}

.summary-row-not-found {
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}
